@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,400;1,500;1,600&display=swap");
* {
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f9;
  font-size: 1.4rem;
  user-select: none;
  color: #363949;
}

a {
  color: #363949;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

.container {
  display: grid;
  width: 96%;
  max-width: 96%;
  height: 100%;
  margin: 0 auto;
  grid-template-columns: 200px auto 350px;
  grid-template-rows: 1fr;
  box-sizing: border-box;
}

aside {
  display: flex;
  flex-direction: column;
}
aside h3 {
  font-weight: 500;
}
aside .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
aside .top .logo {
  display: flex;
  flex-direction: row;
}
aside .top .logo img {
  width: 30px;
  height: 30px;
}
aside .top .logo h1 {
  line-height: 30px;
  margin-left: 5px;
}
aside .top .close {
  display: none;
}
aside .list-menu {
  flex: 1;
}
aside .list-menu__item a {
  margin-left: 20px;
  transition: all 0.3s ease;
}
aside .list-menu__item a:hover {
  color: #7380ec;
}
aside .list-menu__item a:hover span {
  margin-left: 10px;
}
aside .list-menu__item a:hover .noti-count {
  margin-left: 0;
}
aside .list-menu__item a span {
  transition: all ease 0.3s;
}
aside .list-menu__item a .noti-count {
  background-color: #ff7782;
  padding: 5px 8px;
  border-radius: 0.4rem;
  color: #dce1eb;
}
aside .list-menu__item.active a {
  background-color: rgba(132, 139, 200, 0.18);
  color: #7380ec;
  margin-left: 0;
  border-radius: 0.4rem;
}
aside .list-menu__item.active a span {
  margin-left: 7px;
}
aside .list-menu__item.active a::before {
  content: "";
  width: 6px;
  height: 100%;
  background-color: #7380ec;
}
aside a {
  color: #7d8da1;
}
aside .box-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  height: 50px;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}
main .top {
  height: 65px;
}
main .date {
  margin: 5px 0;
  display: inline-block;
  background-color: rgba(132, 139, 200, 0.18);
  padding: 5px 16px;
  border-radius: 0.4rem;
}
main .date input[type=date] {
  background: transparent;
  border: none;
  outline: none;
}
main .insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
main .insights .card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .insights .card-content .left h3, main .insights .card-content .left h2 {
  font-weight: 700;
}
main .insights .card-content .left h3 {
  margin-bottom: 15px;
}
main .insights .card-content .left h2 {
  font-size: 3rem;
}
main .insights .card-content .right {
  position: relative;
}
main .insights .card-content .right svg {
  width: 100px;
  height: 100px;
}
main .insights .card-content .right svg circle {
  fill: none;
  stroke: #7380ec;
  stroke-width: 15;
  stroke-linecap: round;
  stroke-dasharray: 225.8292541504;
}
main .insights .card-content .right.sales svg circle {
  stroke-dashoffset: 42.9075582886;
}
main .insights .card-content .right.expenses svg circle {
  stroke-dashoffset: 85.8151165771;
}
main .insights .card-content .right.income svg circle {
  stroke-dashoffset: 126.4643823242;
}
main .insights .card-content .right .number {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .recent-order {
  flex: 1;
  display: flex;
  flex-direction: column;
}
main .recent-order h2 {
  font-weight: 700;
}
main .recent-order table {
  flex: 1;
  width: 100%;
  background-color: #fff;
  text-align: center;
}
main .recent-order table tr {
  border-bottom: 1px solid rgba(132, 139, 200, 0.18);
}
main .recent-order table tr:last-child {
  border: none;
}
main .recent-order table th, main .recent-order table td {
  padding: 12px 0;
}
main .recent-order table th {
  font-weight: 700;
}
main .recent-order table td {
  font-weight: 500;
  color: #677483;
}
main .recent-order .show-all {
  display: block;
  text-align: center;
  font-size: 15px;
  margin: 15px auto;
  font-weight: 500;
}

.container .right {
  display: flex;
  flex-direction: column;
}
.container .right .top {
  height: 65px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.container .right .top button {
  display: none;
}
.container .right .top .theme-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  height: 30px;
  background-color: rgba(132, 139, 200, 0.18);
  border-radius: 0.8rem;
}
.container .right .top .theme-toggle span {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container .right .top .theme-toggle span.active {
  background-color: #7380ec;
  color: #fff;
  border-radius: 0.8rem;
}
.container .right .top .user {
  display: flex;
  align-items: center;
  height: 50px;
}
.container .right .top .user .welcome {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.container .right .top .user .welcome .username {
  font-weight: 700;
}
.container .right .top .user .profile-photo {
  margin-left: 5px;
}
.container .right .recent-updates {
  margin-top: -3rem;
  margin-bottom: 20px;
}
.container .right .recent-updates h2 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.container .right .recent-updates .updates .update {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.container .right .recent-updates .updates .update:first-child {
  margin-top: 0;
}
.container .right .recent-updates .updates .update:last-child {
  margin-bottom: 0;
}
.container .right .recent-updates .updates .update .profile-photo {
  margin-right: 15px;
}
.container .right .recent-updates .updates .update .message {
  flex: 1;
  color: #7d8da1;
}
.container .right .recent-updates .updates .update .message .username {
  font-weight: 500;
  color: #363949;
}
.container .right .recent-updates .updates .update .message .time {
  display: inline-block;
  margin-top: 5px;
  font-size: 12px;
}
.container .right .sales-analytics {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.container .right .sales-analytics h2 {
  font-weight: 700;
  margin-bottom: 1rem;
}
.container .right .sales-analytics .list {
  flex: 1;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}
.container .right .sales-analytics .list-item {
  display: flex;
  align-items: center;
}
.container .right .sales-analytics .list-item .card-icon {
  margin-right: 10px;
}
.container .right .sales-analytics .list-item .card-icon span {
  padding: 5px;
}
.container .right .sales-analytics .list-item .details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.container .right .sales-analytics .list-item .details .sumary {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container .right .sales-analytics .list-item .details .sumary .title,
.container .right .sales-analytics .list-item .details .sumary .percent,
.container .right .sales-analytics .list-item .details .sumary .count {
  font-weight: 700;
}
.container .right .sales-analytics .list .add-product {
  color: #7380ec;
  font-weight: 500;
  border: 2px dashed #7380ec;
  border-radius: 2rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.container .right .sales-analytics .list .add-product:hover {
  color: #f6f6f9;
  background-color: #7380ec;
}
.container .right .sales-analytics .list .add-product span.icon {
  margin-right: 10px;
}
.container .right .sales-analytics .bottom-space {
  height: 45px;
}

.mg-tb-15 {
  margin: 15px 0;
}

small {
  font-size: 1.2rem;
}

.text-muted {
  color: #7d8da1;
}

.primary {
  color: #7380ec !important;
}

.success {
  color: #41f1b6 !important;
}

.warning {
  color: #ffbb55 !important;
}

.danger {
  color: #ff7782 !important;
}

.profile-photo {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.card-icon span {
  color: #fff;
  padding: 10px;
  border-radius: 50%;
}
.card-icon.primary span {
  background-color: #7380ec;
}
.card-icon.danger span {
  background-color: #ff7782;
}
.card-icon.success span {
  background-color: #41f1b6;
}

.card-decor {
  border-radius: 2rem;
  background: #fff;
  padding: 1.8rem;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  transition: box-shadow 0.3s ease;
}
.card-decor:hover {
  box-shadow: none;
}

/*# sourceMappingURL=main.css.map */
